@use '../../../variables' as *;

.breadcrumbs {
  padding: $page-y $page-x;
  color: $color-text-grey;
  border-bottom: 1px solid $color-border;
  a {
    text-decoration: none;
    font-size: $font-lg;
    color: $color-text-grey;
    &:hover {
      color: $color-primary;
    }
  }
  span {
    font-size: $font-lg;
    color: $color-text-grey;
  }
}
