@use '../../../../variables' as *;

:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-xl;
  justify-items: center;
  margin: $space-lg 0;
}
p {
  grid-column: 1 / -1;
  font-size: $font-lg;
  color: $color-text-grey;
}
