/* You can add global styles to this file, and also import other style files */
@use './variables' as *;

html {
  font-size: 10px;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: $color-bg;
  padding: 0;
}
