@use '../../../_variables' as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg-secondary;
  color: $color-text-grey;
  padding: $page-y $page-x;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: $space-sm;
  margin-top: $space-sm;
  text-decoration: none;
  color: $color-text-grey;
  &:hover,
  &:active {
    color: $color-primary;
  }
}
